<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ username }}!</h2>
    <p>Your role: {{ session['role'] }}</p>
    <p>Client name: {{ session['Client'] }}</p>
    <p>Your permissions: {{ data3 | safe }}</p>
    <!-- <h3>Relevant Permissions:</h3>
    {{ data3 | safe }} -->
   <h3>Permissions:</h3>
    {{ data1 | safe }}
    <h3>Passwords:</h3>
    {{ data2 | safe }}

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
